{% extends 'base.html' %}

{% block content %}
{% load custom_tags %}
<style>
    .media-container {
    display: flex;
    flex-wrap: wrap;  /* Allow items to wrap to the next line */
    gap: 20px;        /* Space between the items */
}

.media-item {
    flex: 1 1 calc(25% - 20px); /* Responsive items: 4 items per row with slight margin */
    box-sizing: border-box;  /* Include padding/border in the element's total width */
    border: 1px solid #ddd;  /* Optional: add a border */
    padding: 10px;          /* Add some padding */
    text-align: center;     /* Center-align text */
}
</style>
<h2>List of materials</h2>
{% if role == 'not member' %}
    <a href="{% url 'add_material' %}" class="btn btn-primary">Add new material</a>
{% endif %}

<div class="media-container"> 
    {% for material in materials %}
        <div class="media-item">  
            <h4>{{ material.name }}</h4>
            {% if material.content %}
                {# Photos #}
                {% if material.content.url|endswith:".jpg" or material.content.url|endswith:".png" or material.content.url|endswith:".jpeg" %}
                    <img src="{{ material.content.url }}" alt="img" style="max-width: 100%;">

                {# Videos #}
                {% elif material.content.url|endswith:".mp4" %}
                    <video width="320" height="240" controls>
                        <source src="{{ material.content.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>

                {# Documents (docx, xlsx, pptx, pdf и других) #}
                {% elif material.content.url|endswith:".docx" or material.content.url|endswith:".xlsx" or material.content.url|endswith:".pptx" or material.content.url|endswith:".pdf" %}
                    <a href="{{ material.content.url }}" target="_blank">
                        Download {{ material.content.name|split:"/" }} 
                    </a>
                {% else %}
                    <p>Unsupported file type</p>
                {% endif %}
            {% endif %}

            {% if material.youtube_link %}
                {% with material.youtube_link|extract_youtube_id as video_id %}
                    {% if video_id %}
                        <div>
                            <iframe width="320" height="240" src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    {% endif %}
                {% endwith %}
            {% endif %}

            <small>group: {{ material.group.title }}</small><br>
            <small>author: {{ material.author }}</small>

            {% if user == material.group.admin or user in material.group.moderators.all %}
                <a href="{% url 'edit_material' material.pk %}">edit material</a>
                <a href="{% url 'delete_material' material.pk %}">delete material</a>
            {% endif %}
        </div>  
    {% empty %}
        <div>No materials</div>
    {% endfor %}
</div>
{% endblock %}