{% extends 'base.html' %}

{% block content %}
{% load custom_tags %}
<h2>List of materials</h2>
{% if role == 'not member' %}
    <a href="{% url 'add_material' %}" class="btn btn-primary">Add new material</a>
{% endif %}

<ul>
    {% for material in materials %}
        <li>
            <div>
                <h4>{{material.name}}</h4>
                {% if material.content.url|endswith:".jpg" or material.content.url|endswith:".png" or material.content.url|endswith:".jpeg" %}
                    <img src="{{ material.content.url }}" alt="img" style="max-width: 100px;">
                {% elif material.content.url|endswith:".mp4" %}
                    <video width="320" height="240" controls>
                        <source src="{{ material.content.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {% endif %}
                <br>
                <small>group: {{ material.group.title }}</small><br>
                <small>author: {{ material.author }}</small>
                {% if user == material.group.admin or user in material.group.moderators.all %}
                    <a href="{% url 'edit_material' material.pk %}">edit material</a>
                    <a href="{% url 'delete_material' material.pk %}">delete material</a>
                {% endif %}
            </div>
        </li>
    {% empty %}
        <li>No materials</li>
    {% endfor %}
</ul>
{% endblock %}
