{% extends 'base.html' %}
{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
    <div class="main-calendar">
        <div class="container">
            <div class="calendar">
                <div class="month">
                    <i class="fas fa-angle-left prev"></i>
                    <div class="date">
                        <h1>September</h1>
                        <p>Wed Sep 25 2024</p>
                    </div>
                    <i class="fas fa-angle-right next"></i>
                </div>
                <div class="weekdays">
                    <div>Sun</div>
                    <div>Mon</div>
                    <div>Tue</div>
                    <div>Wed</div>
                    <div>Thu</div>
                    <div>Fri</div>
                    <div>Sat</div>
                </div>
                <div class="days">
                    <div class="prev-date">26</div>
                    <div class="prev-date">27</div>
                    <div class="prev-date">28</div>
                    <div class="prev-date">29</div>
                    <div class="prev-date">30</div>
                    <div>1</div>
                    <div>2</div>
                    <div>3</div>
                    <div>4</div>
                    <div>5</div>
                    <div>6</div>
                    <div>7</div>
                    <div>8</div>
                    <div>9</div>
                    <div>10</div>
                    <div>11</div>
                    <div>12</div>
                    <div>13</div>
                    <div>14</div>
                    <div>15</div>
                    <div>16</div>
                    <div>17</div>
                    <div>18</div>
                    <div>19</div>
                    <div>20</div>
                    <div>21</div>
                    <div>22</div>
                    <div>23</div>
                    <div>24</div>
                    <div class="today">25</div>
                    <div>26</div>
                    <div>27</div>
                    <div>28</div>
                    <div>29</div>
                    <div>30</div>
                    <div>31</div>
                    <div class="next-date">1</div>
                    <div class="next-date">2</div>
                    <div class="next-date">3</div>
                    <div class="next-date">4</div>
                    <div class="next-date">5</div>
                    <div class="next-date">6</div>
                </div>
            </div>
        </div>
    </div>

    <p class="info" style="font-size: 40px; top: 100px; right: 120px; padding: 10px; position: absolute; align-items:center"></p>


<script>
let eventsByDate = {};

document.addEventListener('DOMContentLoaded', () => {
  const date = new Date();
  const year = date.getFullYear();
  const month = date.getMonth() + 1; 

  fetch(`/events/${year}/${month}/`)
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      eventsByDate = data; 
      renderCalendar(); 
    })
    .catch(error => {
      console.error('Error:', error);
    });
});

const date = new Date();

const months = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December",
];

const renderCalendar = () => {
  date.setDate(1);

  const monthDays = document.querySelector(".days");

  const lastDay = new Date(
    date.getFullYear(),
    date.getMonth() + 1,
    0
  ).getDate();

  const prevLastDay = new Date(
    date.getFullYear(),
    date.getMonth(),
    0
  ).getDate();

  const firstDayIndex = date.getDay();

  const lastDayIndex = new Date(
    date.getFullYear(),
    date.getMonth() + 1,
    0
  ).getDay();

  const nextDays = 7 - lastDayIndex - 1;
  
  document.querySelector(".date h1").innerHTML = months[date.getMonth()];

  document.querySelector(".date p").innerHTML = new Date().toDateString();

  let days = "";

  for (let x = firstDayIndex; x > 0; x--) {
    days += `<div class="prev-date">${prevLastDay - x + 1}</div>`;
  }

  for (let i = 1; i <= lastDay; i++) {
    let dayClass = '';
    const currentDate = `${date.getFullYear()}-${(date.getMonth() + 1).toString().padStart(2, '0')}-${i.toString().padStart(2, '0')}`;

    if (eventsByDate[currentDate] && eventsByDate[currentDate].length > 0) {
      dayClass = 'has-event'; 
    }

    if (
      i === new Date().getDate() &&
      date.getMonth() === new Date().getMonth()
    ) {
      days += `<div class="today ${dayClass}">${i}</div>`;
    } else {
      days += `<div class="${dayClass}">${i}</div>`;
    }
  }

  for (let j = 1; j <= nextDays; j++) {
    days += `<div class="next-date">${j}</div>`;
  }
  monthDays.innerHTML = days;
};



document.querySelector(".prev").addEventListener("click", () => {
  date.setMonth(date.getMonth() - 1);
  renderCalendar();
});

document.querySelector(".next").addEventListener("click", () => {
  date.setMonth(date.getMonth() + 1);
  renderCalendar();
});

document.querySelector(".days").addEventListener("click", (event) => { 
  const infoElement = document.getElementsByClassName('.info');
  infoElement.innerHTML = event.target.innerHTML;
});

document.querySelectorAll(".days").forEach(day => {
  day.addEventListener("click", (event) => {
    const infoElement = document.getElementsByClassName('.info');
    if (event.target.innerHTML.length > 2) {
      return;
    }
    document.querySelectorAll(".days").forEach(d => d.classList.remove('active'));
    event.target.classList.add('active');

    let day_ = event.target.innerHTML.length < 2 ? "0" + event.target.innerHTML : event.target.innerHTML;

    let month_ = months.indexOf(document.querySelector(".date h1").innerHTML) + 1;

    if (event.target.classList.contains('prev-date')) {
      month_ -= 1;
    } else if (event.target.classList.contains('next-date')) {
      month_ += 1; 
    }

    month_ = month_ < 10 ? '0' + month_ : month_;

    let day_month_year = `${date.getFullYear()}-${month_}-${day_}`
    const url = `/event/${day_month_year}/`
    
    fetch(url) 
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();  
      })
      .then(data => {
        eventsByDate[day_month_year] = data;
        let content = `<i>${day_month_year}</i><br>`;
        
        data.forEach(event => {
          content += `<h2>${event.name}</h2>
          <h5>${event.description}</h5>
          <h6>time: ${event.time}</h6>
          <form action="/event/edit/${event.pk}" method="post" class="mr-2">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning" style="margin-left: 5px;">Edit</button>
          </form>
          <form action="/event/delete/${event.pk}" method="get">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
          </form><br>`;
        })
        content += `<a style="font-size:30px" href="/event/create/${day_month_year}">Create event</a><br>`
        document.querySelector('.info').innerHTML = content;
      })
      .catch(error => {
        document.querySelector('.info').innerHTML = `<i>${day_month_year}</i><br><h5>No events</h5><a style="font-size:30px" href="/event/create/${day_month_year}">Create event</a><br>`;
        console.error('Error:', error);
      });
  });
})
renderCalendar();

</script>

{% endblock %}