{% extends 'base.html' %}

{% block content %}
<style>
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; 

    }

    .item {
        box-sizing: border-box;
        border: 1px solid #ddd;
        padding: 5px; 
        text-align: center;
    }
</style>
<div class="portfolio-header"><span class="color">List</span> of Groups
    <br>
{% if user.is_authenticated %}
    <div id="portfolio-content">
    <div class="portfolio-text">
    <div class="button"><a href="{% url 'add_group' %}"><button><span class="index"> Add New Group<i class="gg-arrow-right"></i></span></button></a></div>
    </div>
    </div>
{% endif %}
</div>

<ul class ="group-list">
    {% for group in groups %}
        <li>
            <a href="{% url 'group_detail' pk=group.pk %}" class="group-link">{{ group.title }}</a>
        </li>
    {% empty %}
    <li>No created groups</li>
    {% endfor %}
</ul>
<div class="header-content">
    <div class="secondline custom-text">
    Created by
<span class="txt-rotate color" data-period="1000"data-rotate='[ " Arkady", " Tanya" ]'></span>
<span class="slash">|</span>
</div>

{% if p.has_previous  %}
<a href="?page={{ p.previous_page_number }}"><<</a>
{% endif %}
{% if p.has_next  %}
<a href="?page={{ p.next_page_number }}">>> {{ page }}</a>
{% endif %}
<p>Page {{ p.number }}/{{ p.paginator.num_pages }}</p>

{% endblock %}
