{% extends 'base.html' %}

{% block content %}
<div class="portfolio-header"><span class="color">
{{ group.title }}</span></div>
<div class="about-first-paragraph wow">
<p><span class="my-color">Description:</span> {{ group.description }}</p></div>
<div class="about-first-paragraph wow">
{{ group.created_at }}</div>
<div class="about-first-paragraph wow"><span class="my-color">
Admin:</span> {{ group.admin.username }}</div>
<div class="about-first-paragraph wow">
<span class="my-color">Members:</span></div>
<ul>
    {% for member_info in members_with_roles %}
        <li>{{ member_info.user.username }} <small>{{ member_info.role }}</small> 
            {% if member_info.role != 'Moderator' and member_info.user.id != user.id %}
                {% if user == group.admin or user in group.moderators.all %}
                    <a href="{% url 'add_moderator' group.pk member_info.user.pk %}">make moderator</a>
                {% endif %}
            {% endif %}
            {% if member_info.role != 'Member' and member_info.user.id != user.id %}
                {% if user == group.admin or user in group.moderators.all %}
                    <a href="{% url 'remove_moderator' group.pk member_info.user.pk %}">delete from moderator</a>
                {% endif %}
            {% endif %}

            {% if user == group.admin or user in group.moderators.all %}
                {% if member_info.user.id != user.id %}
                    <a href="{% url 'delete_member' group.pk member_info.user.pk %}">delete from group</a>
                {% endif %}
            {% endif %}
        </li>
    {% empty %}
        <li>No members in this group</li>
    {% endfor %}
</ul>
{% if user == group.admin or user in group.moderators.all %}
<form action="{% url 'add_member' group.pk %}" method="POST">
    {% csrf_token %}
    <button>add member</button>
    <input id="search" type="text" placeholder="Search for users" oninput="search_users()" autocomplete="off">
    <div id="searchResults"></div>
    <div class="about-first-paragraph wow">
    <h5 id="selectedUsersHeader" style="display: none;">Selected Users:</h5>
    <ul id="selectedUsersList"></ul>
    <input type="hidden" name="selected_users" id="selectedUsersInput"></div>

</form>
{% endif %}
<div id="portfolio-content">
<div class="portfolio-text">
    <div class="button-container">
    <div class="button-left"><a href="{% url 'group_list' %}"><button><span class="index"> Back to group list<i class="gg-arrow-right"></i></span></button></a></div>
    {% if user == group.admin %}
    <div class="button-center"><a href="{% url 'update_group' group.pk %}"><button><span class="index">Update group list<i class="gg-arrow-right"></i></span></button></a></div>
    <div class="button-right"><a href="{% url 'delete_group' group.pk %}"><button><span class="index"> Delete group list<i class="gg-arrow-right"></i></span></button></a></div>
    </div>
    {% endif %}
</div>
</div>


<script>
    let selectedUsers = [];

    function selectUser(user) {
        if (!selectedUsers.some(selectedUser => selectedUser.id === user.id)) {
            selectedUsers.push(user);  
            updateSelectedUsersList();
        }
    }

    function updateSelectedUsersList() {
        const selectedUsersList = document.getElementById('selectedUsersList');
        const selectedUsersHeader = document.getElementById('selectedUsersHeader');
        
        selectedUsersList.innerHTML = ''; 

        if (selectedUsers.length > 0) {
            selectedUsersHeader.style.display = 'block';  
            selectedUsers.forEach(user => {
                const listItem = document.createElement('li');
                listItem.textContent = `${user.username}, id: ${user.id}`;  

                const removeButton = document.createElement('button');
                removeButton.textContent = 'Remove from list';  
                removeButton.onclick = () => removeUser(user.id);  

                listItem.appendChild(removeButton);  
                selectedUsersList.appendChild(listItem); 
            });
            document.getElementById('selectedUsersInput').value = selectedUsers.map(user => user.id).join(','); 
        } else {
            selectedUsersHeader.style.display = 'none';  
        }
    }

    async function search_users() {
        const query = document.getElementById('search').value;
        const response = await fetch(`/search/?q=${query}`);
        const data = await response.json();
        
        const searchResultsContainer = document.getElementById('searchResults');
        searchResultsContainer.innerHTML = ''; 

        if (data.users.length > 0) {
            data.users.forEach(user => {
                const button = document.createElement('button');
                button.type = 'button';  
                button.textContent = `${user.username}, id: ${user.id}`; 
                button.onclick = () => selectUser(user);  
                searchResultsContainer.appendChild(button);
            });
        } else {
            const noResultsMessage = document.createElement('p');
            noResultsMessage.textContent = 'No users found.';  
            searchResultsContainer.appendChild(noResultsMessage);
        }
    }

    function removeUser(userId) {
        selectedUsers = selectedUsers.filter(user => user.id !== userId);
        updateSelectedUsersList(); 
    }

</script>
{% endblock %}
