{% extends 'base.html' %}

{% block content %}
{% if custom_user.profile_picture %}
    <img src="{{ custom_user.profile_picture.url }}" alt="Profile Picture" width="180px"/>
{% endif %}
<h2>{{ custom_user.username }}</h2>
<p>{{ custom_user.details }}</p>
<p>Roles:</p>
<ul>
    {% for group_info in user_roles %}
      <li>
        <strong>{{ group_info.group.title }}</strong> - 
        You are: {{ group_info.role }}
      </li>
    {% empty %}
      <li>You are not a member of any group.</li>
    {% endfor %}
</ul>
<p>Data joined: {{ custom_user.date_joined }}</p>

<form method="POST" action = "{% url 'update_profile' %}">
    {% csrf_token %}
    <button>Change profile details</button>
</form>

{% endblock %}