{% extends 'base.html' %}

{% block content %}
{% if custom_user.profile_picture %}
    <img src="{{ custom_user.profile_picture.url }}" alt="Profile Picture" width="180px"/>
{% endif %}
<div class="portfolio-header"><span class="color">
{{ custom_user.username }}</span></div>
  <div class="about-first-paragraph wow">
<p><span class="my-color">Details:</span> {{ custom_user.details }}</p>
<ul>
    {% for group_info in user_roles %}
      <li>
        <strong>{{ group_info.group.title }}</strong> - 
        <span class="my-color">You are:</span> {{ group_info.role }}
      </li>
    {% empty %}
      <li>You are not a member of any group.</li>
    {% endfor %}
</ul>
<p><span class="my-color">Data joined:</span> {{ custom_user.date_joined }}</p>


<form method="POST" action = "{% url 'update_profile' %}">
    {% csrf_token %}
    <button>Change profile details</button>
</form>
</div>
{% endblock %}