{% extends 'base.html' %}

{% block content %}
<form method="POST" action = "{% url 'update_profile' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <p>Username: <textarea class="form-control" name="username">{{ user.username }}</textarea></p>
    </div>
    <div class="form-group">
        <p>Details: <textarea class="form-control" name="details">{{ user.details }}</textarea></p>
    </div>
    <div class="form-group">
        {% if user.profile_picture %}
            <img src="{{ user.profile_picture.url }}" alt="current profile_picture" style="max-width: 200px;"><br><br>
        {% endif %}
        <input type="file" name="profile_picture" id="id_media">
    </div>
    <br>
    <button type = "submit">Submit</button>
</form>
{% endblock %}